:root {
  /* Основные шрифты */
  --main-font: "roboto", sans-serif;
  --secondary-font: "raleway", sans-serif;
  /* Светлая тема текста */
  --light-txt-cl: #ffffff;
  /* Тёмная тема текста */
  --txt-cl: #757575;
  --title-cl: #212121;
  --accent-txt-cl: #2196f3;
  /* Светлая тема фона */
  --primary-light-bg: #e5e5e5;
  --secondary-light-bg: #ffffff;
  --team-bg: #f5f4fa;
  /* Тёмная тема фона */
  --primary-dark-bg: #2f303a;
  --accent-bg-cl: #2196f3;
}

html {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--txt-cl);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* header */
.header {
  background-color: var(--secondary-light-bg);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-link {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
  cursor: pointer;
}

.header-logo {
  color: var(--title-cl);
}

/* Navigation */
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-txt-cl);
}

#current {
  color: var(--accent-txt-cl);
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-cl);
}

/* Contacts */
.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: var(--accent-txt-cl);
}

.contacts-phone {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--txt-cl);
}

/* Hero */
.hero {
  /* display: inline-block; */
  background-color: var(--primary-dark-bg);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}

.hero-btn {
  padding: 9px 31px;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-top: 0;
  max-width: 200;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* width: 200px;
  height: 50px; */

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
  cursor: pointer;
}

/* Competence */
.competence-list {
  display: flex;
}

.competence-item {
  width: 270px;
}

.competence-item:not(:last-child) {
  margin-right: 30px;
}

.competence-item-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-cl);
}

.competence-item-txt {
  margin-top: 0;
  margin-bottom: 0px;
}

/* Affairs */
.affairs {
  padding-top: 0;
}

.affairs-list {
  display: flex;
}

.affairs-item:not(:last-child) {
  margin-right: 30px;
}

.affairs-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-cl);
}

/* Team-personalities */
.team {
  background-color: var(--team-bg);
}

.container-team {
  display: flex;
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-cl);
}

.team-item {
  background-color: var(--secondary-light-bg);
  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .team-item + .team-item {
  margin-left: 30px;
}

.card-team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-cl);
}

.team-item-txt {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--txt-cl);
}

/* Footer */
.footer {
  background-color: var(--primary-dark-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-link {
  display: block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 0;
}

.footer-logo {
  color: var(--light-txt-cl);
}

/* Address */
.address {
  font-style: normal;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-txt-cl);
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
}

.phone {
  color: rgba(255, 255, 255, 0.6);
}

/* Вторая страничка макета - ПОРТФОЛИО */

.portfolio-header {
  border-bottom: 1px solid #ececec;
}

/* Filters */
.filters-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-item-btn {
  padding: 6px 22px;
  min-width: 38px;
  border: 1px solid transparent;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-cl);
}

.filters-item-btn:hover,
.filters-item-btn:focus {
  color: var(--light-txt-cl);
  background: var(--accent-bg-cl);
}

.portfolio-card-set {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - 30px);
}

.card-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;

  background-color: var(--secondary-light-bg);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item-title {
  margin: 0 0 4px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-cl);
}

.portfolio-item-txt {
  margin: 0;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--txt-cl);
}

/* 
#000000*/
